body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: helvetica, arial, sans-serif;
}

h1{
    color: #3a241d;
    text-align: center;
}

#pagina{
    display: flex;
    height: 100%;
    width: 100%;
}

#placita{
    display: flex;
    width: 80%;
    flex-direction: column;
}

.contenedor{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #eee;
	z-index: 2;
}

.cielo{
    flex-grow: 1;
    background: #3847e8;
	border-radius: 1rem;
	opacity: 0.5;
	z-index: 1;
}

.suelo{
    flex-grow: 2;
    background: #44bc8c;
	border-radius: 0 0 1rem 1rem;
	opacity: 0.7;
	z-index: -1;
}

.contenedor-componente{
    display: flex;
    max-height: 10.5%;
    justify-content: center;    
}

.componente{
    z-index: 2; 
}

#sol{
    margin-top: 2%;
    margin-left: 15%;
    background-color: yellow;
    width: 12%;
    height: 50%;
    border-radius: 100%;
}