body {
    font-family: helvetica, arial, sans-serif;
}
  
h1 {
    color: #3a241d;
    text-align: center;
}  

.contenedor {
    background-color: #eee;
	width: 15%;
	height: 100%;
    top: 0px;
    position: absolute;
	padding: 10px;
}

#contenedor-izquierdo {
	left: 0px;
}

#contenedor-derecho {
	right: 0px;
}

.contenedor-componente {
	position: relative;
	height: 10.5%;
	left: 20%;
}

.componente {
    position: absolute;
    max-width: 150%;
    max-height: 150%;
    z-index: 2;
}

.cielo {
	height: 80%;
	width: 60%;
	background: #BDE6F1;
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: 20%;
	opacity: 0.5;
	z-index: 1;
}

.suelo {
	width: 60%;
	height: 45%;
	background: #C9E4C5;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 20%;
	opacity: 0.7;
	z-index: -1;
}